// styles.scss

@import "./Sass/Utilities/variables";
@import "./Sass/Utilities/themes";
@import "./Sass/Components/accordion";
@import "./Sass/Components/accrediation";
@import "./Sass/Components/buttons";
@import "./Sass/Components/card";
@import "./Sass/Components/footer";
@import "./Sass/Components/nav";
@import "./Sass/Utilities/assets";
@import "./Sass/Utilities/global";


body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}


//  .vidyard-inner-container-JP3WwFRU3pxhiM7oDPdBbq, .vidyard-inner-container-xfveBiaJNShGn4GCrbih2W, .vidyard-inner-container-xXrBVUiBWxCuFXG3neqKRR {
//   height: 70% !important;
//  }  
  

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300244e' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300244e' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }
 

 .carousel-control-next {
  height: 95%;
}
  
.carousel-control-prev {
  height: 95%;
}

/* Style the vidyard container */
.vidyard-container {
  position: relative;
}

/* Position the caption outside the vidyard container */
.carousel-caption {
  position: absolute;
  bottom: 640px; /* Adjust the distance from the video as needed */
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
}
