  
  /* Font size */
  $font-size-xs: 0.75rem;
  $font-size-sm: 0.875rem;
  $font-size-md: 1rem;
  $font-size-lg: 1.125rem;
  $font-size-xl: 1.25rem; 
  $font-size-2xl: 1.5rem; 
  $font-size-3xl: 1.875rem;
  $font-size-4xl: 2rem;
  $font-size-5xl: 2.25rem;
  $font-size-6xl: 2.5rem; 
  $font-size-7xl: 4rem; 

//Media Query BreakPoints

$breakpoint-xs: 360px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-2xl: 1400px;
$breakpoint-3xl: 1600px;
$breakpoint-4xl: 1900px


